name: Run All Tests
on: [pull_request, workflow_dispatch]

permissions: {}

jobs:
  test:
    name: "Build library and run unit tests"
    runs-on: ubuntu-24.04

    services:
      bitcoin-regtest:
        image: ghcr.io/thunderbiscuit/podman-regtest-infinity-pro:0.3.2
        ports:
          - 18443:18443
          - 18444:18444
          - 3002:3002
          - 3003:3003
          - 60401:60401
        # The container initialization step will wait until everything is ready before allowing other steps to run
        options: >-
          --health-cmd "test $(bitcoin-cli -regtest -rpcuser=regtest -rpcpassword=password getblockcount) -gt 0"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 6

    steps:
      - name: "Check out PR branch"
        uses: actions/checkout@v4
        with:
          submodules: recursive
          persist-credentials: false
          fetch-depth: 0

      - name: "Cache"
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ./target
          key: ${{ runner.os }}-${{ hashFiles('**/Cargo.toml','**/Cargo.lock') }}

      - name: "Set up JDK"
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: "Build library"
        run: bash ./scripts/build-linux-x86_64.sh

      - name: "Run tests and build examples"
        run: |
          ./gradlew test
          ./gradlew :examples:build
